header {
    text-align: center;
    text-decoration: overline; /*adiciona uma decoracao no texto*/
    text-transform: uppercase; /*deixa o texto em maiusculo com o uppercase*/
}

h1 {
    font-family: cursive;
    font-weight: 100; /*peso da fonte, deixa ela mais fina ou mais grossa*/
}

h2 {
    font-size: 16px;
    letter-spacing: 10px;
    text-transform: uppercase;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}